body {
	font-family: verdana;
	background-color: #7594AB;
	margin: 0;
	color: #9ca4ab;
}

#username {
	display: inline-block;
	position: relative;
	margin-left: 0px;
	top: -3px;
	padding: 8px;
	color: white;
}

h2 {
	font-size: 30px;
	margin: 10px;
	display: inline-block;
}

#nav {
	display: inline-block;
	position: relative;
	top: -3px;
	color: #9ca4ab;
}

#nav a {
	height: 100%;
	border-left: 5px solid #9ca4ab;
	display: inline-block;
	padding: 8px;
	color: inherit;
	position: relative;
}

#wrapper {
	margin: 100px;
}

#formbox {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 300px;
	background-color: #66A3D2;
	padding: 30px;
	border: 1px solid #25567B;
}

#login_title {
	margin-bottom: 10px;
	font-size: 30px;
	color: #124C80;
}

input {
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 25px;
	color: #A65F00;
	display: block;
	width: 100%;
	height: 30px;
	border: none;
}

input[type=submit] {
	padding: 10px;
	width: 75%;
	margin: 0 auto 10px auto;
	background-color: #FFC373;
	color: #25567B;
	font-weight: bold;
	font-size: 20px;
	height: auto;
	text-decoration: none;
}

input[type=submit]:active {
	background-color: #FF9200;
}

#header {
	margin: 0 0 20px 0;
	padding: 0;
	background-color: #25567B;
	border-bottom: 3px solid #033E6B;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
}

#signout, #post {
	display: inline-block;
	position: relative;
	top: -3px;
	padding: 8px;
	color: #9ca4ab;
}

a:link {
	text-decoration: none;
}

#info {
	color: #2E4D50;
	text-align: center;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 20px;
	bottom: 40px;
}

.fileUpload input.upload {
	position: relative;
	top: -45px;
	bottom: 0;
	right: 0;
	left: 0px;
	margin: 0;
	padding: 0;
	font-size: 60px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100px;
	width: -10px;
}

#upload {
	position: relative;
	top: 33px;
	text-align: center;
	vertical-align: 10px;
	margin: 0 auto 0 auto;
	width: 200px;
	height: auto;
	background-color: #FFC373;
	padding: 30px;
	border: 1px solid #25567B;
	color: #25567B;
	font-weight: bold;
	display: inline-block;
}